name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y autoconf automake libtool

    - name: Run autoreconf
      run: autoreconf --install

    - name: Configure
      run: ./configure

    - name: Make
      run: make

    - name: Generate tarball
      run: |
        make dist
        tarball_name=$(ls *.tar.gz)
        mkdir -p artifacts
        mv $tarball_name artifacts/

    - name: Upload tarball
      uses: actions/upload-artifact@v3
      with:
        name: source-tarball
        path: artifacts/*.tar.gz

